@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("Metropolis-Regular"),
    url("./Fonts/Metropolis-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Metropolis-Regular", sans-serif;
}

button {
  margin: 10px;
}
